[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycodestyle = "*"
"autopep8" = "*"
pyserial = "*"
elasticsearch = "*"
pytz = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
