<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Update target temp</title>
</head>
<body>
    <h1>Update Target Temp</h1>
    <div>
        <form action="/post-target-temp" method="post">
            <label for="temp">New target temp (C):</label><br>
            <input type="number" step="0.1" id="temp" name="temp" value="{{ target }}" min="1" max="30" required><br>
            <input type="submit" value="Enter">
        </form>
    </div>
</body>
</html>