<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Fermenter Controller</title>
</head>
<body>
    <h1>Brew ID: {{ brew }}</h1>
    <form action="/new-brew-id" method="get">
        <input type="submit" value="Change Brew ID">
    </form>

    <h1>Fermenter: {{ average }} &#8451;</h1>
    <h2>Other temperatures</h2>
    <p>Min: {{ min }} &#8451;</p>
    <p>Max: {{ max }} &#8451;</p>
    <p>Ambient: {{ ambient }} &#8451;</p>
        <p>Target: {{ target }} &#8451;
    <form action="/new-target-temp" method="get">
        <input type="submit" value="Update target temp">
    </form>

    <h1>Current Action: {{ action }}</h1>
    <p>Reason code: {{ reason }}</p>
    <br><br>
    <button onClick="window.location.reload();">Refresh</button>
</body>
</html>